.Notification {
  position: relative;
  display: flex;
  margin: 0 0 10px;
  border-radius: 20px;
  transition-duration: 0.6s;
  cursor: pointer;

  &_active {
    background: rgba(30, 176, 106, 0.1);
  }

  &__counter-wrap {
    position: absolute;
    top: -5px;
    right: -8px;
    width: 17px;
    height: 17px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: #dc282e;
    border: 2px solid #fff;
    border-radius: 100%;
  }

  &__counter {
    font-weight: 600;
    font-size: 11px;
    line-height: 20px;
   
    text-align: center;
    color: #fff;
  }
}
