.ShowMoreButton {
  padding: 9px 25px;
  outline: none;
  border: 1px solid #2051a3;
  box-sizing: border-box;
  border-radius: 35px;
  font-family: Open Sans;
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 16px;

  /* original-blue */

  color: #2051a3;
  transition-duration: 0.6s;
  cursor: pointer;

  &:hover {
    background: #2051a3;
    color: #fff;
  }
  &:focus {
    background: #2051a3;
    color: #fff;
  }
}
