.SetReadButton {
  padding: 9px 20px;
  outline: none;
  border: none;
  box-sizing: border-box;
  border-radius: 35px;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;

  background: #2051a3;
  color: #fff;
  transition-duration: 0.6s;
  cursor: pointer;

  &:after {
    content: "";
    position: absolute;
    left: 18%;
    bottom: -15px;
    transform: translateX(-50%);
    border: 8px solid transparent;
    border-top: 10px solid#2051a3;
  }
}
